#!/bin/bash

# Put in your .profile
#export DIGITALOCEAN_ACCESS_TOKEN=''

# Formation settings
export FORM_NAME="LBN"
export FORM_TEACHER_NAME="Thomas"
export FORM_TEACHER_MAIL=""
export FORM_STUDENT_NUMBER=2
export FORM_STUDENT_VM_NB=2

# DigitalOcean settings
export DO_DROPLET_PREFIX="$FORM_TEACHER_NAME-Form-$FORM_NAME"
export DO_REGION='fra1'
export DO_SIZE='2gb'
export DO_SIZE_UCPDTR='4gb'
export DO_TAGS='["training-docker"]'
#export DO_IMAGE_ID='28477796' # Ubuntu-16.04.3-tp-form snapshot
export DO_IMAGE_ID='28478152' # centos_nue_compte_treeptik-sudo
export DIGITALOCEAN_ACCESS_TOKEN='637b047278db638270ab860dc1a5bb7f0e40e9219fab9b5e41e3422bb6ef5521'
export DO_SSH_KEY='50:2c:69:60:20:80:4a:81:d8:d6:e4:26:56:f6:17:31'

# Ansible settings
export ANSIBLE_HOST_FILE="playbooks/hosts"
export ANSIBLE_SSH_KEY="~/.ssh/id_rsa_formation_tp"
